div {
    text-align: center;
    color: aliceblue;
    margin-right: auto;
    margin-left: auto;
}

table,td {
    width: 30%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-color: aliceblue;
}

h1 {
    text-align: center;
    color: aliceblue;
    margin-top: 30px;
    text-shadow: 0 0 2px black, 0 0 3px cyan, 0 0 3px cyan;
}

input {
    text-align: center;
    color: azure;
}

input:hover {
    transition-duration: 0.5s;
    text-shadow: 0 0 2px cyan, 0 0 3px cyan, 0 0 3px cyan;
}